@import "../../../../styles/variables.scss";

.divfaq{
    padding-bottom: 2rem;
}

.faq{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid $primary-color;
    &__question{
        border: none;
        background: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 64px;
        width: 100%;
        h3{
            text-align: start;
            font-family: $second-font;
            color: $primary-color;
        }
        svg{
            fill: $primary-color;
            width: 32px;
        }
    }
    &__answer{
        display: flex;
        opacity: 1;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        padding: 16px 0px 16px 32px;
        
        p{
            font-size: 1.5rem;
        }
        &__clossed{
            display: none;
            max-height: 0;
        }
        
    }
}

.iconInnactive{
    transform: rotate(0deg);
    transition: transform 0.3s ease; 
}

.iconActive{
    transform: rotate(180deg);
    transition: transform 0.3s ease; 
}