// colors
$main-color: #E4EBF6;
$primary-color: #E67320;
$secondary-color: #0B6EE1;
$black-color: #353739;

// fonts
$main-font: var(--font-lexend);
$second-font: var(--font-rubik);

// padding
$lateral-padding: 10vw;

// size navbar
$navbar-height: 80px;
$footer-height: 80px;