// colors
$main-color: #fffcf7;
$main-color-hover: #fdf3e1;
$primary-color: #E67320;
$secondary-color: #0B6EE1;
$black-color: #353739;
$shadow-effect: 4px 7px 19px -5px rgba(0, 0, 0, 0.25);
$red-color: #F84949;
$blue-color: #0B6EE1;
$green-color: #0CC05F;
$yellow-color: #F1C424;

// fonts
$main-font: var(--font-lexend);
$second-font: var(--font-quicksand);

// padding
$lateral-padding: 10vw;

// heights
$navbar-height: 80px;
$footer-height: 60px;