// colors
$main-color: #fffefe;
$primary-color: #E67320;
$secondary-color: #0B6EE1;
$black-color: #353739;

// fonts
$main-font: var(--font-lexend);
$second-font: var(--font-quicksand);

// padding
$lateral-padding: 10vw;

// heights
$navbar-height: 80px;
$footer-height: 60px;