@import 'variables.scss';

body {
    font-family: $second-font;
    background-color: $main-color;
    margin: 0;
    padding:0;
}

h1 {
    font-family: $main-font;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 64px */
    letter-spacing: -1.28px;
}
    
h2 {
    font-family: $main-font;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 95.5%; /* 45.84px */
}

h3 {
    font-family: $main-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 95.5%; /* 38.2px */
}

h4 {
    font-family: $main-font;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 95.5%; /* 30.56px */
}

h5 {
    font-family: $main-font;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 95%; /* 22.8px */
}

h6 {
    font-family: $main-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 95%; /* 19px */
}

p{
    font-family: $second-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.5%; /* 16.24px */
}

a{
    font-style: none;
}