.speakingButtons {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 228px;
}

.audio {
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
  &Bar{
    width: 80%;
  }
}
