@import "../../../styles/variables.scss";

.flashcard {
  position: relative;
  height: 80%;
  width: 60%;
  &__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
  }
  &__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  &__container {
    display: flex;
    min-height: 15rem;
    min-width: 20rem;
    max-width: 70rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    border-radius: 2rem;
  }

  &__front {
    z-index: 2;
    background-color: $main-color;
    box-shadow: -17px 13px 19px -5px rgba(0, 0, 0, 0.25);
  }

  &__back {
    z-index: 1;
    background-color: $primary-color;
    bottom: 30px;
    left: 30px;
  }
}
