@import "../../../styles/variables.scss";

.welcomeBanner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    height: 90%;
    img{
        size: 50px;
    }
    &__Message{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p{
            color: $primary-color;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
        }
        h2{
            color: $black-color;
            padding-right: 23px;
            margin-bottom: 16px;
        }
    }
}

.reasons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    div{
        background-color: $primary-color;
        border-radius: 42px;
        color: $main-color;
        font-family: $second-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        max-width: 384px;
        min-height: 159px;
        padding: 0px 25px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}

.firstMessage{
    margin-left: -$lateral-padding;
    margin-right: -$lateral-padding;
    padding: 32px  $lateral-padding;
    background-color: $primary-color;
    color: $main-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &__icon{
        margin-right: 32px;
        font-size: 110px;
    }
}

.secondMessage{
    margin-left: -$lateral-padding;
    margin-right: -$lateral-padding;
    padding: 32px  $lateral-padding;
    background-color: rgba(230, 115, 32, 0.20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $black-color;
    text-align: center;
    &__author{
        color: $primary-color
    }
}


.left{
    text-align: left;
}